.div1{
	background-color: #FF9A00;
	width:100%;
	height: 100px;
	text-align: center;
	border-radius: 5px;
	z-index: 1;
}

.welcome{
	font: sans-serif;
	padding-top: 30px;
}
.b1
{
	border-radius: 5px;
	width:40%;
	height:50px;
	/*margin-left:30%;
	margin-top: 50px;*/
	position:absolute;
	top: 44.8%;
	left: 30%;
	background-color: palegreen;
	transition: 0.5s;
	z-index: -1;
}
.b2
{
	border-radius:5px;
	transition: 0.5s;
	width:40%;
	height:50px;
	position:absolute;
	top: 48%;
	left: 30%;
	/*margin-left:30%;
	margin-top:100px;*/
	float:left;
	margin-top:5%;
	background-color: turquoise;
}
.b3
{
	border-radius:5px;
	transition: 0.5s;
	width:40%;
	height:50px;
	position:absolute;
	top: 60%;
	left: 30%;
	/*margin-left:30%;
	margin-top:100px;*/
	float:left;
	margin-top:5%;
	background-color:#FCF939;
}
.b1:hover
{
	width:40%;
	height:75px;
	/*margin-left:30%;
	margin-top: 50px;*/
	position:absolute;
	top: 44.8%;
	left: 30%;
	background-color: palegreen;
	border-radius:5px;
	transition: 0.5s;
	animation-name: funimation;
}
.b2:hover
{
	transition:0.5s;
	width:40%;
	height:75px;
	/*margin-left:30%;
	margin-top:50px;*/
	position:absolute;
	top: 48%;
	left: 30%;
	background-color: turquoise;
	animation-name: funimation;
}
.b3:hover
{
	transition:0.5s;
	width:40%;
	position:absolute;
	top: 60%;
	left: 30%;
	height:75px;
	/*margin-left:30%;
	margin-top:50px;*/
	background-color: #FCF939;
}
body
{
	background-color: ghostwhite;
}
.welcome
{
	z-index: -1;
}
.modal1
{
	z-index: 1;
	position: absolute;
	top:25%;
	left:25%;
	overflow: auto;
	width:50%;
	height: 45%;
	opacity: 1;
	background-color: gray;
	/*margin-left: 25%;
	margin-top:-15%;*/
	display: none;
	border-radius:25px;
	animation: funimation 0.6s;
}
.modal2
{
	z-index: 1;
	position: absolute;
	top:25%;
	left:25%;
	overflow: auto;
	width:50%;
	height: 62%;
	opacity: 1;
	background-color: gray;
	/*margin-left: 25%;
	margin-top:-15%;*/
	display: none;
	border-radius:25px;
	animation: funimation 0.6s;
}
.source
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%
}
.adestination
{
	margin-top:60px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
	position: relative;
}
.asource
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
}
.name
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
}
.destination
{
	margin-top:60px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
	position: relative;
}
.mobno
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
}
.sub1
{
	float:left;
	margin-top:40px;
	margin-left:45%;
	height:30px;
	background-color:red;
	text-transform: capitalize;
	color: white;
}
.sub1:hover
{
	float:left;
	margin-top:40px;
	margin-left:45%;
	height:45px;
	background-color:green;
	text-transform: capitalize;
	color: white;
	transform:rotate(360deg);
	transition: 0.8s;
}
.sub2
{
	float:left;
	margin-top:20px;
	margin-left:45%;
	height:30px;
	background-color:red;
	text-transform: capitalize;
	color: white;
}
.sub2:hover
{
	float:left;
	margin-top:20px;
	margin-left:45%;
	height:45px;
	background-color:green;
	text-transform: capitalize;
	color: white;
	transform:rotate(360deg);
	transition: 0.8s;
}
.c1
{
	position: absolute;
	left:80%;
	color:white;
	background-color: green;
	height:30px;
	color:white;
}
.c1:hover
{
	position: absolute;
	left:80%;
	color:white;
	background-color: red;
	height:45px;
	color:white;
	transform:rotate(-360deg);
	transition: 0.8s;
}
.c2
{
	margin-top:11.2%;
	position: absolute;
	left:80%;
	background-color: green;
	height:30px;
	color:white;
}
.c2:hover
{
	height:45px;
	transform:rotate(-360deg);
	transition: 0.8s;
	position: absolute;
	left:80%;
	background-color: red;
	color: white;
}