*{
	box-sizing:border-box;
}
.b1
{
	border-radius: 5px;
	width:40%;
	height:50px;
	color:white;
	position:absolute;
	top: 30%;
	left: 30%;
	background-color:#474444 ;
	transition: 0.5s;
	z-index:1;
}
.b2
{
	border-radius:5px;
	transition: 0.5s;
	width:40%;
	height:50px;
	position:absolute;
	top:50%;
	left: 30%;
	color:white;
	float:left;
	/*margin-top:5%;*/
	background-color: #474444;
}
.b1:hover
{
	width:25%;
	height:50px;
	position:absolute;
	top: 30%;
	left: 38%;
	background-color: palegreen;
	border-radius:5px;
	transition: 0.5s;
	color:black;
}
.b2:hover
{
	transition:0.5s;
	width:25%;
	height:50px;
	position:absolute;
	top: 50%;
	left: 38%;
	background-color: turquoise;
	color:black;
}
body
{
	background-color: #E4E2E2;
	animation: funimation 0.6s;
}
.welcome
{
	z-index: -1;
}
.modal1
{
	position: absolute;
	top:25%;
	left:25%;
	overflow: auto;
	width:50%;
	height: 360px;
	opacity: 1;
	background-color: white;
	display: none;
	border-radius:10px;
	animation: funimation 0.6s;
	z-index: 1;

}
.modal2
{
	z-index: 1;
	position: absolute;
	top:100px;
	left:20%;
	overflow: auto;
	width:60%;
	height: 470px;
	opacity: 1;
	background-color: white;
		display: none;
	border-radius:10px;
	animation: funimation 0.6s;
}
.source
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
	transition:0.5s;
}
.source:focus
{
	border-right-color:red;
	border-bottom-color:red;
	transition:0.5s;
}
.adestination
{
	margin-top:60px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
	position: relative;
	transition:0.5s;
}
.adestination:focus
{
	border-right-color:red;
	border-bottom-color:red;
	transition:0.5s;
}
.adate
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
	transition:0.5s;
}
.adate:focus
{
	border-right-color:red;
	border-bottom-color:red;
	transition:0.5s;
}
.asource
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
}
.asource:focus
{
	border-right-color:red;
	border-bottom-color:red;
	transition:0.5s;
}
.name
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
	transition:0.5s;
}
.name:focus
{
	border-right-color:red;
	border-bottom-color:red;
	transition:0.5s;
}
.destination
{
	margin-top:60px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
	position: relative;
	transition:0.5s;
}
.destination:focus
{
	border-right-color:red;
	border-bottom-color:red;
	transition:0.5s;
}
.date
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
	transition:0.5s;
}
.date:focus
{
	border-right-color:red;
	border-bottom-color:red;
	transition:0.5s;
}
.mobno
{
	float:left;
	margin-top:30px;
	margin-left:28%;
	border-radius:3px;
	height:35px;
	width: 45%;
	transition:0.5s;
}
.mobno:focus
{
	border-right-color:red;
	border-bottom-color:red;
	transition:0.5s;
}
.sub1
{
	float:left;
	margin-top:40px;
	margin-left:45%;
	height:30px;
	background-color:red;
	text-transform: capitalize;
	color: white;
	transform:rotate(-360deg);
	transition: 2s;
}
.sub1:hover
{
	float:left;
	margin-top:40px;
	margin-left:45%;
	height:45px;
	background-color:green;
	text-transform: capitalize;
	color: white;
	transform:rotate(360deg);
	transition: 2s;
}
.sub2
{
	float:left;
	margin-top:20px;
	margin-left:45%;
	height:30px;
	background-color:red;
	text-transform: capitalize;
	color: white;
	transform:rotate(-360deg);
	transition: 2s;

}
.sub2:hover
{
	float:left;
	margin-top:20px;
	margin-left:45%;
	height:45px;
	background-color:green;
	text-transform: capitalize;
	color: white;
	transform:rotate(360deg);
	transition: 2s;
}
.c1
{
	position: absolute;
	left:80%;
	color:white;
	top:43%;
	background-color: green;
	height:30px;
	color:white;
	transform:rotate(360deg);
	transition: 2s;
}
.c1:hover
{
	position: absolute;
	left:80%;
	color:white;
	background-color: red;
	height:45px;
	color:white;
	transform:rotate(-360deg);
	transition: 2s;
}
.c2
{
	margin-top:17%;
	position: absolute;
	left:80%;
	background-color: green;
	height:30px;
	color:white;
	transform:rotate(360deg);
	transition: 2s;
}
.c2:hover
{
	height:45px;
	transform:rotate(-360deg);
	transition: 2s;
	position: absolute;
	left:80%;
	background-color: red;
	color: white;
}
.container
{
	margin-left:19%;
	margin-top: -10%;
	width: 62%;
	background-color: paleturquoise;
	height: 500px;
	display: none;
	z-index: 4;
}
.images
{
	width: 100%;
	height: 100%;	
}
.buts1
{
	width:100px;
	height: 50px;
	text-align: center;
	border-top-color: black;
	border-left-color: black;
	border-right-color: black;
	border-bottom-color: white;
	border-style: solid;
	border-width: 2px;
	border-style: 1;
	padding-bottom: 1px;
	transition: 0.5s
}
.buts2
{
	width:100px;
	height: 50px;
	text-align: center;
	border-top-color: white;
	border-left-color: black;
	border-right-color: black;
	border-bottom-color: black;
	border-style: solid;
	border-width: 2px;
	border-style: 1;
	padding-bottom: 1px;
	transition: 0.5s;
}
.buts1:focus,.buts1:hover
{
	width:100px;
	height: 50px;
	text-align: center;
	border-top-color: white;
	border-left-color: red;
	border-right-color: red;
	border-bottom-color: red;
	border-style: solid;
	border-width: 2px;
	border-style: 1;
	padding-bottom: 1px;
	background-color: white;
	transition:0.5s;
}
.buts2:focus,.buts2:hover
{
	width:100px;
	height: 50px;
	text-align: center;
	border-top-color: red;;
	border-left-color: red;
	border-right-color: red;
	border-bottom-color: white;
	border-style: solid;
	border-width: 2px;
	border-style: 1;
	padding-bottom: 1px;
	background-color: white;
	transition:0.5s;
}
li
{
	display:inline;
}
ul
{
	padding-bottom: 2%;
	margin-left:-2.5%;
}
.about
{
	animation: funimation 0.2s;
}
.developer
{
	display: none;
	animation: funimation 0.2s;	
}
p{
	font-size: 17px;
	color: black;
	font-family: arial;
	margin-top: -20px;
}
@keyframes funimation
{
	from {transform:scale(0)}
	to {transform:scale(1)}
}